body{
    background-color: gold;
}

h1{
    font-size: 30px;
    color: #124159;
}
h2{
    font-size: 20px;
    color: hotpink;
    font-family: fantasy;
}

.big {
    font-size: 60px;
}

.uppercase{
    text-transform: uppercase;
}

.big.uppercase{
    color: navy;
}
span{
    color: violet;
}
